@import 'nib'

.likearts-content .logo
	@extend .flex
	justify-content flex-start

	&__pic
		width 64px
		height 60px
		@extend .cover
		background-image url(../resources/img/logo.png)
		@media screen and (max-width: $notebook)
			width (64/1.2) px
			height (60/1.2) px

	&__text
		text-transform uppercase
		font-size 3rem
		margin 0 16px
		user-select none
		@media screen and (max-width: $notebook)
			font-size 2.8rem

	&__sign
		&--bold
			font-weight 700
		&--margin-left
			margin-left -5px




