@import 'nib'

.likearts-content .production
	padding 45px 0
	@media screen and (max-width: $phone)
		padding 10px 0

	&__title
		font-size 4rem
		text-align center
		margin 20px 0
		@media screen and (max-width: $phone)
			font-size 2rem

	.slick-prev
		display none
		&:before
			display none

	.slick-next
		right -90px
		width auto
		height auto
		@media screen and (max-width: 1500px)
			right 9px	
		@media screen and (max-width: $phone)
			right 10px
		&:before
			content ''
			display block
			width 74px
			height 148px
			@extend .cover
			background-image url(../resources/icons/circle-btn.png)

.likearts-content .card
	width 100%
	height auto
	min-height 560px
	padding 40px 30px
	color #fff
	margin 10px 10px
	@extend.cover
	@media screen and (max-width: 1200px)
		padding 20px
	@media screen and (max-width: $tablet)
		padding 40px
	@media screen and (max-width: $phone)
		padding 20px


	&__number
		&--large
			font-size 3rem

	&__title
		font-size 2.5rem
		margin 10px 0
		@media screen and (max-width: 1200px)
			font-size 2.5rem

	&__btn
		margin 25px 0

	
