@import 'nib'

.likearts-content .secondary
	padding 35px 0

	&__title
		font-size 4rem
		margin 15px 0
		@media screen and (max-width: $phone)
			font-size 2.5rem

	&__subtitle
		font-size 3rem
		margin 15px 0
		@media screen and (max-width: $phone)
			font-size 2rem


.likearts-content .secondary .text-content
	&__pic
		display block
		max-width 100%
		height auto
		float left
		margin 0 20px 0 0
	p 
		margin-bottom 15px

	&__text
		&--bold
			font-weight 700
			font-size 1.6rem
		&--15
			font-size 1.5rem

		&--italic
			font-size 1.5rem
			font-style italic
			

	&__list
		padding 0 0 0 16px
		&--ul
			font-family 'Open Sans'

	&__title
		font-size 3rem
		margin 15px 0
		@media screen and (max-width: $phone)
			font-size 2rem
