@import 'nib'

.likearts-content .news
	padding 35px 0

	&__title
		font-size 4rem
		margin 15px 0
		@media screen and (max-width: $phone)
			font-size 2.5rem

	&__item 
		background-color #ebebeb
		padding 15px
		margin 0 0 20px 0

	&__item-date
		color #6e7c89
		@media screen and (max-width: $phone)
			text-align center
			margin 20px 0 10px 0

	&__item-title
		display block
		font-size 2.5rem
		margin 10px 0
		color $primary-color-text
		@media screen and (max-width: $phone)
			text-align center
			margin 10px 0
			font-size 2rem

	&__item-pic
		display block
		max-width 100%
		height auto
		float left
		margin 0 20px 0 0
		@media screen and (max-width: $phone)
			float none
			margin 0 auto

	&__item-text
		margin-bottom 15px
		line-height 1.3
		@media screen and (max-width: $phone)
			text-align justify
