@import 'nib'

.likearts-content .menu
	position relative
	z-index 1
	height auto

	&--desktop
		width 100%
		background-color $primary-color
		@media screen and (max-width: $notebook)
			display none

	&--mobile
		@media screen and (min-width: $notebook)
			display:none

	&__items
		position relative
		@extend .flex
		flex-flow row wrap
		justify-content space-between
		&--mobile
			flex-flow column wrap
			align-items flex-start

	&__item
		position relative
		padding 25px 14px
		font-size 1.6rem
		color #fff
		text-align center
		@media screen and (max-width: 1300px)
			font-size 1.4rem
			padding 25px 10px
		&:hover
			background-color $secondary-color
			.menu__other-items
				display flex
		&--active
			padding 25px 14px 23px 14px
			border-bottom 3px solid $secondary-color
		&--mobile
			width 100%
			text-align left
			padding 25px 50px
			font-size 1.5rem
			border-bottom 1px solid #039BE5
			&:first-child
				margin-top 50px
			&:hover
				background-color inherit
		&--mobile-active
			background-color $secondary-color
			&:hover
				background-color $secondary-color

	a
		color #fff

	&__body
		position fixed
		top 0
		left 0
		width 250px
		transform translateX(-250px)
		background-color $primary-color
		height 100vh
		z-index 99
		@extend .transition
		overflow auto

	&__overlay
		display none
		position fixed
		top 0
		left 0
		width 100%
		height 100vh
		background-color #000
		opacity 0.8
		z-index 98
		cursor pointer

	&__btn
		display none
		position fixed
		top 10px
		left 10px
		padding 24px
		cursor pointer
		color $primary-color
		z-index 100
		@media screen and (max-width: $notebook)
			display inherit

	&__btn-icon
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)

	&__other-items
		display none
		position absolute
		top 72px
		left 0
		width 240px
		height auto
		background-color rgba(57, 67, 77, 0.9)
		@extend .flex
		flex-flow column wrap
		padding 23px 28px

	&__other-item
		width 100%
		text-align left
		padding 5px 0
		border-bottom 1px solid #72797f
		&:hover
			color $primary-color


.likearts-content .js-menu__btn--active
	color #fff

.likearts-content .js-is-open
	transition transform .2s ease-in-out
	transform translateX(0px)
	@extend .paper-shadow-z1

